#App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: black;
}

#Logo {
  height: 200px;
  width: 200px;
  background-color: orangered;
  position: absolute;
}